html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
#layerList-btn, #basemap-btn, #legend-btn {
    padding: 6px;
    cursor: pointer;
}

.esri-component.esri-layer-list.esri-widget.esri-widget--panel{
    display: none;
}

.esri-basemap-gallery{
    display: none;
    position: absolute;
    top: 40px
}